*{
    list-style: none;
    text-decoration: none;
}
.parent{
display:flex;
flex-direction: row;
justify-content: center;
align-items: top;
margin:10px;
padding:10px;
color: rgb(97, 97, 115);
}
.child{
margin:10px;
padding:20px;
}
.child1 img{
width:200px;
height:80px;
margin:5px;
}
h2{
    color:rgb(53, 53, 67);
}
.list a{
    margin:20px 10px;
}
